@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "PT Sans", sans-serif;
}
.main {
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-color: rgb(35, 76, 143);
}

.main:before {
  background: radial-gradient(circle, rgb(255, 255, 255) 0, #13203f 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("/src/assets/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background: linear-gradient(
    110deg,
    #4a90e2 50%,
    #7ab9d9 50%,
    #7ab9d9 52%,
    #b9dfea 52%,
    #b9dfea 0
  );
  /* height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(220, 50%, 70%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(200, 50%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(180, 50%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(160, 50%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(140, 50%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(120, 50%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(100, 50%, 70%, 1) 0px, transparent 50%);

  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15; */
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.animated_border {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.animated_border::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #9cb1c9;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#0c2470, #406a9b);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.animated_border::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.head_text {
  @apply mt-5 lg:text-6xl font-extrabold leading-[1.15] text-slate-950 sm:text-3xl text-center;
}

/* .orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
} */

/* .blue_gradient {
  @apply bg-gradient-to-r from-blue-500 via-indigo-800 to-blue-300 bg-clip-text text-transparent;
} */

.desc {
  @apply mt-5 text-lg text-slate-950 sm:text-xl text-center max-w-2xl;
}

.url_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-10 pr-12 text-sm shadow-lg font-PT_Sans font-medium focus:border-black focus:outline-none focus:ring-0;
}

.submit_btn {
  @apply hover:border-gray-700 hover:text-gray-700 absolute inset-y-0 right-0 my-1.5 mr-1.5 flex w-10 items-center justify-center rounded border border-gray-200 font-sans text-sm font-medium text-gray-400;
}

.link_card {
  @apply p-3 flex justify-start items-center flex-row bg-white border border-gray-200 gap-3 rounded-lg cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.blue_gradient {
  @apply font-black bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.summary_box {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
}
